{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<h1>Here are all the collections</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Nb Voitures</th>
            <th>Membre</th>
            <th> More details</th>
        </tr>
    </thead>
    <tbody>
    {% for col in CollectionDeVoiture%}
        <tr>
            <td>{{ col.id }}</td>
            <td>{{col.description}}</td>
            <td>{{col.Voitures|length}}</td>
            <td>{{col.membre.__toString}}</td>
            <td><a href="{{ path('Collection_show', {'id': col.id}) }}">show</a></td>
        </tr>
    {%endfor%} {# todos #}

    </tbody>
</table>
{% endblock %}