{% extends 'base.html.twig' %}

{% block title %}Galerie index{% endblock %}

{% block main%}
    <h1>Galerie index </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th> Créateur </th>
                <th>Description</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galerie in galeries %}
            <tr>
                <td>{{ galerie.id }}</td>
                <td> {{galerie.creator}}</td>
                <td>{{ galerie.description }}</td>
                <td>{{ galerie.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_galerie_show', {'id': galerie.id}) }}">show</a>
                    {%if is_granted('ROLE_USER')%}
                        {%if creator is not null%}
                            {% if creator.name == galerie.creator %}
                            <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}">edit</a>
                            {% endif %}
                        {% endif %}
                    {%endif%}
                    
                    {%if is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}">edit</a>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%if is_granted('ROLE_USER')%}
    <a href="{{ path('app_galerie_new') }}">Create new</a>
    {%endif%}
{% endblock %} {#main#}
